body {
    padding-left: 15%;
    padding-right: 15%;
    background-color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.header {
    display: flex;
    flex-direction: column;
}

.content {
    background-color: darkgray;
    border: 2px solid black;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-top: 2em;
    padding-bottom: 2em;
}

@media only screen and (max-width: 1000px) {
    .content {
        display: block;
    }

    body {
        padding-left: 10%;
        padding-right: 10%;
    }
}


.ultracenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

textarea {
    resize: none;
 }

h1 {
    text-align: center;
    font-size: 60px;
}

#response {
    color: white;
    text-align: center;
}

.previousPosts {
    background-color: darkgray;
    border: 2px solid black;
}